/* BEM  */

.app__mainContent {
  background-color: white;
  border-radius: 20px;
  padding: 25px 15px;
  box-shadow: 0 0 10px #1772cb;
}

/* Bootstrap Attributes */
.app__container {
  padding-top: 50px;
}

.app__row {
  height: 86vh;
}

@media (max-width: 991px) {
  .app__mainContent {
    margin: 30px 0;
  }
}
