body {
  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(23, 114, 203, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: none;
  color: #1772cb;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(23, 114, 203, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  border-radius: 15px;
}
